@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions

@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Backend | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/plugins/font-awesome/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/plugins/ionicons/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/dist/css/AdminLTE.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/Content/adminlte/plugins/iCheck/square/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/lib/sweetalert/dist/sweetalert.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/adminlte/plugins/html5shiv/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/Content/adminlte/plugins/respond/respond.min.js")"></script>
    <![endif]-->
    @RenderSection("Styles", false);
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Backend</b></a>
        </div>
        <!-- /.login-logo -->
        @RenderBody()
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="@Url.Content("~/Content/adminlte/plugins/jQuery/jquery-2.2.3.min.js")"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="@Url.Content("~/Content/adminlte/bootstrap/js/bootstrap.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/adminlte/plugins/iCheck/icheck.min.js")"></script>

    @Scripts.Render("~/Bundles/account-vendor/js/bottom")

    @RenderSection("Scripts", false);

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>

